body {
    margin: 0 auto;
    max-width: 50em;
    font-family: sans-serif;
    line-height: 1.5;
    padding: 1em;
    color: #566b78;
}

h1 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

input {
    border: 2px solid;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    font-size: 1.25em;
    background-color: #f9f9f9;
}